<section id="about" class="container section">
    <div class="card aos-init aos-animate">
        <h2><strong>{{'about.title' | translate}}</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right">
                <picture>
                    <img src="assets/images/profile.jpg" alt="profile picture" class="img-fluid">
                </picture>
                <div class="d-flex justify-content-center">
                    <a class="btn-social-media" href="https://www.linkedin.com/in/pablo-garcia-815bb31b9/" rel="tooltip"
                        target="_blank" title="{{'about.followMeOn' | translate}} Linkedin">
                        <i class="bi bi-linkedin bi-lg i-social-media"></i>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon"
                        href="https://github.com/preytor" rel="tooltip" 
                        target="_blank" title="{{'about.followMeOn' | translate}} GitHub">
                        <i class="bi bi-github bi-lg i-social-media"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>{{'about.jobTitle' | translate}}</h3>
                <p class="font-italic">
                    {{'about.introductionOfMe' | translate}}
                    <br>{{'about.passionateAboutDevelopment' | translate}}
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <i class="icon bi bi-geo-alt-fill"></i><strong> Edmonton, Canada</strong>
                            </li>
                            <li>
                                <i class="icon bi bi-envelope-fill"></i>
                                    <strong>
                                        <a href="mailto:pgrfpgm@gmail.com">
                                            pgrfpgm@gmail.com
                                        </a>
                                    </strong>
                            </li>
                            <li>
                                <i class="icon bi bi-phone-fill"></i><strong>
                                    +1 (367) 382-6269 <i class="fi fi-ca"></i>
                                </strong>
                            </li>
                            <li>
                                <i class="icon bi bi-phone-fill"></i><strong>
                                    +34 608 62 62 34 <i class="fi fi-es"></i>
                                </strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <i class="icon bi bi-mortarboard-fill"></i><strong> {{'about.graduation' | translate}}</strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    {{'about.researchDescription' | translate}}
                </p>
            </div>
        </div>
    </div>
</section>