<section id="experience" class="container section">
    <div class="card aos-init aos-animate">
        <div class="card-body">
            <h2 class="card-title"><strong>{{'experiences.title' | translate}}</strong></h2>
            <span class="bar-title mb-5"></span>
            <div class="card-text row">
                <div class="col-sm-8" data-aos="fade-up" data-aos-delay="300">
                    <h3><strong>{{'experiences.subTitle' | translate}}</strong></h3>
                    <ul class="timeline">
                        <li *ngFor="let company of companies;">
                            <h5>{{company.title}}</h5>
                            <img [src]="company.image" class="companyImage"/><em>{{company.company}}</em>
                            <div class="d-flex flex-row">
                                <p class="year p-2 d-flex justify-content-center">{{company.period}}</p>
                                <button (click)="detailOnClick(company)" type="button"
                                    class="btn btn-primary">
                                    <span *ngIf="!company.detailIsDisplayed">+</span><span *ngIf="company.detailIsDisplayed">-</span> {{'experiences.detail' | translate}}</button>
                            </div>
                            <p *ngIf="company.detailIsDisplayed">
                                <span *ngFor="let mission of company.missions;let index = index">
                                    <strong>{{'experiences.mission' | translate}} {{index+1}}: </strong>{{mission}} <br>
                                </span>
                                <strong>{{'experiences.technologies' | translate}}:</strong> {{company.technologies}}
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>