<div id="home">
    <div class="page-home-image"></div>
    <div class="container profile section">
        <a>
            <img src="assets/images/me.jpg" class="profile-pic" alt="Profile picture"/>
        </a>
        <h1>Pablo Garcia</h1>
        <h3>{{'main.job-role' | translate}}</h3>
    </div>
    <div class="container options">
        <a href="mailto:pgrfpgm@gmail.com" class="btn btn-primary">{{'main.message-me' | translate}}</a>
        <a href="assets/pgr_resume.pdf" download="pgr_resume.pdf" class="btn btn-primary">{{'main.download-cv' | translate}}</a>
    </div>
</div>