
h2{
    color: rgb(22, 59, 90);
}

li.not-active{
    background-color: rgb(95, 146, 161);
}

li.active{
    background-color: rgb(6, 46, 58);
}

.img-wrap {
    vertical-align: top;
    transition: opacity 3s;
    -webkit-transition: opacity 0.8s;
    opacity: 1;
    background: top center;
    background-size: cover;
    position: relative;
}

.options {
    text-align: center;
}

.options a {
    color: white;
    margin: 0 1rem;
}

.card-header {
    height: 250px;
    width: 350px; 
}

img {
    height: 250px;
    width: 350px;
}